body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.pageHeader {
    height: 70px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    font-weight: 300;
    color: rgba(8, 166, 228, 1);
    text-align: left;
    letter-spacing: 0;
    text-decoration: none;
}


.topNav {
    display: flex;
}

.topMenu {
    padding: 0 28px;
}

.topMenu:last-child {
    padding-right: 136px;
}

.links {
    font-family: "Open Sans bold", sans-serif;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 28px 47px 28px;;
    color: #08A6E4;
    text-align: left;
    line-height: 15;
    color: rgba(165, 165, 165, 1);
    border-bottom: 4px solid transparent;
    }

.links:hover {
    border-bottom: 4px solid rgba(8, 166, 228, 1);
    color: #222222;
}




.openShop {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.openShopDiv {
    padding-top: 130px;
    text-align: center;
}

.sellMore {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 1);
    font-size: 49px;
    padding-bottom: 20px;
}

.openShop {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
}

.btn {
    width: 440px;
    height: 67px;
    background-color: rgba(8, 166, 228, 1);
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    padding-top: 38px;
}

.btnBig {
    padding: 22px 157px 23px 157px;
}

.openShopDiv p {
    padding-bottom: 60px;
}

.openShopDiv a {
    color: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
}

p .btnOpenYourShop {
    /*width: 440px;*/
    /*height: 67px;*/
    background-color: rgba(8, 166, 228, 1);
    border-radius: 40px;
    box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.topBg {
    width: 100%;
    height: auto;
}



.mainSection {
    width: 100%;
    height: auto;
    box-shadow: 0px -5px 80px rgba(0, 0, 0, 0.16);
}

.platformSales h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: rgba(0, 0, 0, 1);
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;

}

box {
    width: 33.3%;
    height: auto;
    text-align: center;
}


.salesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-right: 391px;
    padding-left: 412px;
}


.numbers {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 6px;
    text-align: center;
    padding-top: 20px;
}

.p-circles {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: rgba(165, 165, 165, 1);
    font-size: 17px;
    padding-top: 19px;
    padding-bottom: 121px;
}

.circle1 {
    background-color: rgba(251, 59, 100, 1);
}

.circle2 {
    background-color: rgba(8, 166, 228, 1);
}

.circle3 {
    background-color: rgba(85, 223, 180, 1);
}

.personIcon {
    position: absolute;
    padding-top: 3px;
    margin-left: -4px;
}

.eyeIcon {
    position: absolute;
    padding-top: 15px;
    margin-left: -11px;
}

.postsIcon {
    position: absolute;
    padding-top: 7px;
    padding-left: 1px;
}

























.pageBottom {
    width: 1352px;
    height: 89px;
}

.bottomPage {
    width: 100%;
    background-color: rgba(247, 247, 247, 1);
    box-shadow:  0px -5px 40px rgba(0, 0, 0, 0.16);
    display: flex;
}
.bottomLogo p{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.bottomPage p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 6px 1275px 17px 137px;
    color: rgba(165, 165, 165, 1);
}

.bottomLogo {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 26px;
    padding: 20px 1170px 0px 137px;
    color: rgba(8, 166, 228, 1);
}

.twitterIcon .fbIcon {
    width: 24px;
    height: 24px;
    padding: 35px 0 30px 0;
    float: right;
}

.fbIcon {
    padding-right: 136px;
    padding-left: 20px;
}

.btmRight {
    display: flex;
    flex-direction: row;
}
















/*.platformSales .box {*/
/*    display: flex;*/
/*    flex-display: block;*/
/*    width: 100%;*/
/*}*/

/*.circlesDiv {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    padding: 0 391px 122px 412px;*/
/*    text-align: center;*/
/*}*/

/*.circlesContainer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    !*padding-right: 391px;*!*/
/*}*/

/*.circles {*/
/*    width: 63px;*/
/*    height: 63px;*/
/*    border-radius: 50%;*/
/*    border: 1px solid orange;*/
/*}*/

/*.circles1 {*/
/*    background-color: rgba(251, 59, 100, 1);*/
/*    position: relative;*/
/*    padding-bottom: 30px;*/
/*    border: none;*/
/*}*/



